<oth-card [bodyTemplate]="bodyTemplate" class="contact-information-card">
  <!-- Body -->
  <ng-template #bodyTemplate>
    <div class="body">
      <div *ngIf="CONTACT_INFO.phone" class="info-line">
        <p class="title"><i aria-hidden="true" class="fas fa-phone"></i></p>
        <a [href]="'tel:' + CONTACT_INFO.phone" class="info">{{
          CONTACT_INFO.phone
          }}</a>
      </div>
      <div *ngIf="CONTACT_INFO.email" class="info-line">
        <p class="title"><i aria-hidden="true" class="fas fa-envelope"></i></p>
        <a [href]="'mailto:' + CONTACT_INFO.email" class="info">{{
          CONTACT_INFO.email
          }}</a>
      </div>
      <div *ngIf="CONTACT_INFO.address" class="info-line">
        <p class="title">
          <i aria-hidden="true" class="fas fa-map-marker-alt"></i>
        </p>
        <a
            [href]="CONTACT_INFO.map"
            class="info"
            target="_blank"
        >{{ CONTACT_INFO.address }}</a
        >
      </div>
      <div class="map">
        <iframe
            allowfullscreen=""
            height="150"
            loading="lazy"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3743.1245778779353!2d85.7936281734071!3d20.253667513951996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a19a70048b4f94f%3A0x2f431c5a2c39762!2sXdil!5e0!3m2!1sen!2sin!4v1750287848584!5m2!1sen!2sin"
            style="border: 0"
            title="Address Information"
            width="100%"></iframe>
      </div>
    </div>
  </ng-template>
</oth-card>
